{% extends 'base.html' %} {%block body%}
<div class = "containerdiv pt-1">
  <div class="container text-center">
    <div class="row m-3">
      <a href="https://drive.google.com/drive/folders/1I0YDc8m1BMeE3Eo0g20oOQiVmoScIVGP" class="col mx-3 height alert alert-info">
        <h3>1st year<br><small class="text-body-secondary">Freshmen</small></h3>
      {% comment %} </div> {% endcomment %}
      <div class="temp1">
        <button type="button" class="btn btn-outline-success">Avail Notes</button>
      <button type="button" class="btn btn-outline-success">Upload</button>
      </div>
    </a>
      <a href="https://drive.google.com/drive/folders/1paVPx_OqCLecKECdd22o42Aa32J7COX-" class="col mx-3 height alert alert-info">
        <h3>2nd year<br><small class="text-body-secondary">Sophomore</small></h3>
        <div class="temp1">
          <button type="button" class="btn btn-outline-success">Avail Notes</button>
        <button type="button" class="btn btn-outline-success">Upload</button>
        </div>
      </a>
    </div>
    <div class="row m-3">
      <a href="https://drive.google.com/drive/folders/1XlMtZRLkCoauhVyNtkEwCm8WY6YGX28y" class="col mx-3 height alert alert-info">
        <h3>3rd year<br><small class="text-body-secondary">Pre-final</small></h3>
        <div class="temp1">
          <button type="button" class="btn btn-outline-success">Avail Notes</button>
        <button type="button" class="btn btn-outline-success">Upload</button>
        </div>
      </a>
      <a href="https://drive.google.com/drive/folders/1H-Bqp8uXk7CXT0xXK-71vDeu7lTqPS9J" class="col mx-3 height alert alert-info">
        <h3>4th year<br><small class="text-body-secondary">Final</small></h3>
        <div class="temp1">
          <button type="button" class="btn btn-outline-success">Avail Notes</button>
        <button type="button" class="btn btn-outline-success">Upload</button>
        </div>
      </a>
    </div>
  </div>
</div>
{%endblock body%}
