{% extends 'base.html' %} {%block body%}
<div class = "containerdiv pt-1">
<div class="container text-center ">
    <div class="row m-3">
      <a href="https://drive.google.com/drive/folders/1thdLrY4xNynuq5aHuqPgyedSFETYHZhe?usp=share_link" class="col mx-3 height alert alert-info">
        <h3>M-Tech<br></h3>
      {% comment %} </div> {% endcomment %}
      <div class="temp1">
        <button type="button" class="btn btn-outline-success">Avail Notes</button>
      <button type="button" class="btn btn-outline-success">Upload</button>
      </div>
    </a>
      <a href="https://drive.google.com/drive/folders/1j4ja2xlr1zxCH_SbOo99aW5MiN-zvq9P?usp=share_link" class="col mx-3 height alert alert-info">
        <h3>Msc<br></h3>
        <div class="temp1">
          <button type="button" class="btn btn-outline-success">Avail Notes</button>
        <button type="button" class="btn btn-outline-success">Upload</button>
        </div>
      </a>
    </div>
    <div class="row m-3">
      <a href="https://drive.google.com/drive/folders/1gGblHRoyxh3GurpPGP95YUlXiW9MM88s?usp=sharing" class="col mx-3 height alert alert-info">
        <h3>Mdes<br></h3>
        <div class="temp1">
          <button type="button" class="btn btn-outline-success">Avail Notes</button>
        <button type="button" class="btn btn-outline-success">Upload</button>
        </div>
      </a>
      <a href="https://drive.google.com/drive/folders/1RJ0wLh1R42GwCtvz8wyXZYLWSvRP7WRp?usp=share_link" class="col mx-3 height alert alert-info">
        <h3>MA<br></h3>
        <div class="temp1">
          <button type="button" class="btn btn-outline-success">Avail Notes</button>
        <button type="button" class="btn btn-outline-success">Upload</button>
        </div>
      </a>
    </div>
  </div>
</div>
{%endblock body%}
